//********************************************/
//* STYLE:SCSS
//********************************************/
// @import "./abstracts/variables";
/*@import kullanılırsa isim çakışması oluyor
daha yeni olan @use kullanmak */

// @use "./abstracts/variables";
@use "./abstracts/variables" as v;

body {
  font-family: v.$fontFamily;
  // font-family: variables.$fontFamily; bu şekilde de kullanılanılablir
  background-color: v.$bgColor;
  font-size: v.$fontSize;
  color: v.$fontColor;
}
